/TwoSum/TwoSum/x64/Debug
*.filters
*.user
*.vsidx
/TwoSum/.vs
/TwoSum/x64
/AddTwoNumbers_LinkedList/.vs/AddTwoNumbers_LinkedList/CopilotIndices
/AddTwoNumbers_LinkedList/.vs
/LongestSubstring/.vs/LongestSubstring/v17
/LongestSubstring/.vs/LongestSubstring/CopilotIndices
/LongestSubstring/LongestSubstring/x64
LongestSubstring/x64/Debug/LongestSubstring.pdb
/LongestSubstring/enc_temp_folder
*.db
*.db-shm
*.db-wal
/MedianOfTwoSortedArrays/.vs
*.tlog
*.recipe
*.ilk
*.enc
*.log
*.idb
*.pdb
/LongestPalindromicSubstr/.vs
*.obj
/LongestPalindromicSubstr/enc_temp_folder
/LongestPalindromicSubstr/enc_temp_folder
*.ipch
/ZigzagConversion/.vs/ZigzagConversion/v17
*.exe
